.App{
    min-height: 100vh;
    font-size: large;
}


.col{
    background-color: rgb(20, 40, 58);
    border: 1px solid black;
    padding : 2rem;
    margin-inline: 2rem ;
}
.row{
    min-height: 20vh;
    border: 1px solid black;
    margin-top: 3rem;
    padding: 1rem;
}
@media only screen and (max-width: 600px) {
    
    .container {
      padding : 2rem;
    }
  }